.CopyRights {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    display: flex;

}

.CopyRights p{
    margin-left: 70px;
}


.CopyRights b{
    font-size: larger;

}

.CopyRights a{
color: red;

}

.CopyRights span{
    color:rgb(5, 252, 5);

}


