.CompanyList {}

.delete {
    font-size: 21px;
    padding: 3px;
    height: 27px;
    width: 80px;
    border-radius: 5em;
    color: red;
    background-color: rgb(227, 167, 167);
    border: none;
    transition: background-color 0.3s ease-in-out;

}

.delete:hover {
    background-color: rgb(244, 107, 107);
    cursor: pointer;
}

.update {
    font-weight: bold;
    font-size: 21px;
    padding: 4px;
    height: 27px;
    width: 80px;
    border-radius: 5em;
    background-color: rgb(67, 229, 67);
    border: none;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.update:hover {
    background-color: rgb(3, 173, 3)
}
.total {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}