.CouponCard {
  font-size: larger;
  text-align: center;
  background-color: rgb(159, 158, 158);
  color: white;
  padding: 10px;
  border: 10px;
}

.imageB{
  width: 100%;
  height: 100%;
}
.color {
  color: blue;
}

.CouponList {}

.CouponList:hover img {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.no-hover  {
  transform: none !important;
  transition: none !important;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.psn{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.btn{
  color: white;
    padding: 10px 10px;
    margin: 7px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
  
  }

  .dlt{
    background-color: red;
    }
    .upd{
    background-color:green;
    }
  
  .dlt:hover {
    background-color:rgb(201, 25, 25)
  }
  .upd:hover {
    background-color:rgb(4, 90, 4)
  }
