.Footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: black;
}

.animated-button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.animated-button:hover {
  background-color: #2980b9;
}

.abt {
  font-size: 20px;
  text-decoration: none;

}