.AdminMenu {
  /* position: absolute; */
  /* top:150px; */
  /* left:30px; */
  /* height: 560px; */
/* display: flex;; */
/* flex-direction: column; */
/* justify-content: center; */
/* align-items: center; */
}

h1{
  text-shadow: 15px 14px 6px rgba(0, 0, 0, 0.1); 
  /* margin-top: 0px */
}
p{
  text-shadow: 15px 14px 6px rgba(0, 0, 0, 0.1); 

}
.black{
  color: black;
}

.link {
    font-size: 20px;
    /* margin: 3px; */
    text-decoration: none;
}

.link:hover {
    color: blue;
}
.a{
  margin: 0px;
  padding: 0px;
}

.imgB {
display: flex;
flex-direction: column;  
/* height: 75%; */
/* width: 120%; */
/* justify-content:end; */
/* align-items: flex-start; */

/* top: 126px; */
    /* left: 300px; */
    /* width: 80%; */
    /* height: 73%; */
    position: absolute;
    top: 119px;
    left: 300px;
    /* width: 120%; */
    /* height: 100%; */
    height: 532px;
    width: 1170px; 
  }

  .imgC {
    position: absolute;
    top: 128px;
    left: 300px;
    width: 78%;
    height: 75%;
  }


 @keyframes rotateRight {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotateLeft {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  } 
  
   .AdminMenu .link:hover svg {
    animation: rotateRight 0.5s forwards;
  }
  
  .AdminMenu .link:not(:hover) svg {
    animation: rotateLeft 0.5s forwards;
  }
   

.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; 
}

.fade-in {
  opacity: 1; 
}

.fade-out {
  opacity: 0; 
}