.AllCoupons{
}

.fade {
    transition: opacity 0.5s;
  }
  
  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }
  
  .AdminMenu {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .link {
    display: block;
    margin-bottom: 7px;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .link svg {
    margin-right: 8px;
  }
  
  .more-actions {
    color: #666;
    cursor: pointer;
  }
  
  .more-actions-menu {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  
  .more-actions-menu .link {
    margin-bottom: 5px;
  }
  
  .B{
    width: 1220px;
  }